  <!-- Fabian Soto Palacio | Student ID : 301153142 -->
  
<div class="container">
  <br>
  <h1><%= title %></h1><br>
  <div class="table-responsive">
    <a href="/contact/add" id="addButton" class="btn btn-primary mb-2"><i class="fas fa-user-plus"></i> Add
      Contact</a>
      <!-- bootstrap table -->
    <table class="table table-hover">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Email Address</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% for( let count = 0; count < contactList.length; count++) { %>
        <tr>
          <th scope="row"><%= count + 1 %></th>
          <td class="col-md-3"><%= contactList[count].contactName %></td>
          <td class="col-md-3"><%= contactList[count].contactNumber %></td>
          <td class="col-md-3"><%= contactList[count].emailAddress %></td>
          <td class="text-center">
            <a href="/contact/edit/<%= contactList[count]._id %>" class="btn btn-dark btn-sm edit"><i
                class="fas fa-edit fa-sm"></i> Edit</a>
          </td>
          <td class="text-center">
            <a href="/contact/delete/<%= contactList[count]._id %>" class="btn btn-danger btn-sm delete"><i
                class="fas fa-minus-circle"></i> Delete</a>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>